services:
  hazelcast:
    image: hazelcast/hazelcast:5.2.1
    container_name: hazelcast
    environment:
      - HZ_NETWORK_PUBLICADDRESS=5701:5701
      - HZ_CLUSTERNAME=hello-world
    ports:
      - "5701:5701"
    networks:
      - hazelcast-network
    restart: always
    stdin_open: true
    tty: true

networks:
  hazelcast-network:
    external: true
